{% extends "layout.html" %}

{% block content %}

{% load static %}

{% include 'clients/partials/actions.html' %}

<h1>{{ title }}</h1>

<hr/>
{% if clients %}
{% for client in clients %}
<ul>
    <li>
        <span> {{ client.first_name }} {{ client.last_name }}</span>
    </li>

    <li>
        <span> {{ client.get_gender_display }}</span>
    </li>
</ul>

<ul>
    {% for contact in contacts %}
    {% if contact.owner == client %}
    <li>
        <span><strong>Контакт:</strong> {{ contact.contact }}</span><br>
        <span><strong>Тип:</strong> {{ contact.get_kind_display }}</span><br>
        <span><strong>Основной контакт:</strong> {{ contact.primary|yesno:"Yes,No" }}</span><br>
    </li>
    {% endif %}

    {% endfor %}
</ul>
<a href="{% url 'view_client' client.pk %}" class="menu-item">О клиенте</a>
<br/>
<a href="{% url 'delete_client' client.pk %}" onclick="return confirm('Вы уверены, что хотите удалить этого клиента?');">Удалить</a><hr/>

{% endfor %}

{% else %}
<p>Пока пусто =)</p>
{% endif %}

{% endblock %}
