{% extends "layout.html" %}

{% block content %}
  {% if create_mode %}
    <h2>New client</h2>
    <form action="{% url 'new_client' %}" method="post">
  {% else %}
    {% if add_contact_mode %}
      <h2>Add contact</h2>
      <form action="{% url 'add_contact' pk=pk %}" method="post">
    {% else %}
      <h2>Edit client</h2>
      <form action="{% url 'edit_client' pk=pk %}" method="post">
    {% endif %}
  {% endif %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    {{ contact_formset.as_p }}

    <button type="button" onclick="showConfirmationModal()">Save</button>
  </form>

  <div id="confirmationModal" class="modal">
    <div class="modal-content">
      <p>Вы действительно хотите переопределить основной контакт?</p>
      <button onclick="confirmPrimaryContact()">Да</button>
      <button onclick="cancel()">Отмена</button>
    </div>
  </div>

  <script>
    function showConfirmationModal() {
      var modal = document.getElementById("confirmationModal");
      modal.style.display = "block";
    }

    function confirmPrimaryContact() {
      document.getElementById("confirmationModal").style.display = "none";
      document.querySelector('form').submit();
    }

    function cancel() {
      document.getElementById("confirmationModal").style.display = "none";
    }
  </script>
{% endblock %}
