{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for clients in all_clients %}
        <ul>
            <li>
                <span><strong>Имя:</strong> {{ clients.first_name }}</span>
            </li>

            <li>
                <span><strong>Фамилия:</strong> {{ clients.last_name }}</span>
            </li>

            <li>
                <span><strong>Пол:</strong> {{ clients.gender }}</span>
            </li>
        </ul>
    {% endfor %}

{% endblock %}
