{% extends "layout.html" %}

{% block content %}

{% include 'clients/partials/actions.html' %}

    <h1>{{ title }}</h1>

    <h1>Client Detail</h1>
<p><strong>First Name:</strong> {{ client.first_name }}</p>
<p><strong>Last Name:</strong> {{ client.last_name }}</p>
<p><strong>Gender:</strong> {{ client.gender }}</p>
<p><strong>Registration Date:</strong> {{ client.registration_date|date:"d.m.Y" }}</p>
<p><strong>Contact:</strong> {{ contact.value }}</p>
<p><strong>Kind:</strong> {{ contact.get_kind_display }}</p>
<p><strong>Primary:</strong> {{contact.primary|yesno:"Yes,No"}}</p>
{% endblock %}
