{% extends "layout.html" %}

{% block content %}

{% include 'clients/partials/actions.html' %}

<h1>{{ title }}</h1>
<hr/>

{% if client_info and contact_info %}
<ul>
    <li>
        <span>Имя: {{ client_info.first_name }}</span>
    </li>

    <li>
        <span>Фамилия: {{ client_info.last_name }}</span>
    </li>

    <li>
        <span>Пол: {{ client_info.gender }}</span>
    </li>

    <li>
        <span>Дата регистрации: {{ client_info.registration_date|date:"d.m.Y" }}</span>
    </li>

    <li>
        <span>Контакт: {{ contact_info.value }}</span>
    </li>

    <li>
        <span>Тип: {{ contact_info.get_kind_display }}</span>
    </li>

    <li>
        <span>Основной контакт: {{ contact_info.primary|yesno:"Yes,No" }}</span>
    </li>

    <a href="{% url 'edit_client' client.pk %}" class="menu-item">Редактировать</a>

</ul>


{% else %}
<p>Pass</p>
{% endif %}

{% endblock %}
